/* Geral */

/* @font-face {
  font-family: Starjedi;
  src: url("assets/Starjedi.ttf");
} */

h1 {
  color: rgb(223, 135, 34);
  /* font-family: Starjedi; */
}

body {
  background-color: #0e0e13;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
}

button {
  background-color: #5448c3;
  color: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
}

/* Image Darth*/
img {
  width: 300px;
}

.darth {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cabeca {
  background: #0e0e13;
  width: 300px;
  height: 120px;

  position: absolute;
  top: 0;
}

.braco-esquerdo {
  background: #0e0e13;
  width: 100px;
  height: 160px;

  position: absolute;
  left: 0;
}

.torso {
  background: #0e0e13;
  width: 100px;
  height: 160px;

  position: absolute;
  left: 100px;
}

.braco-direito {
  background: #0e0e13;
  width: 100px;
  height: 160px;

  position: absolute;
  right: 0;
}

.perna-esquerda {
  background: #0e0e13;
  width: 155px;
  height: 160px;

  position: absolute;
  left: 0;
  top: 190px;
}

.perna-direita {
  background: #0e0e13;
  width: 155px;
  height: 160px;

  position: absolute;
  right: 0;
  top: 190px;
}

/* Letter */
.word {
  color:rgb(223, 135, 34);
  font-size: 24px;
}

.letter {
  border: 1px solid rgb(223, 135, 34);
}
